.menu-cate-content {
    display: none;
}

.main {
    align-items: start;
}


.slidebar {
    width: 275px;
}

.slidebar-title {
    background-color: #373737;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    text-transform: uppercase;
    margin: 0;
    border-left: 5px solid #01c4c4;
}

.slidebar-list {
    border: 1px solid #dddddd;
    padding: 10px;
}

.slidebar-list li {
    padding: 10px 0;
}

.slidebar-list li:not(:last-child) {
    border-bottom: 1px dotted #c3c3c3;
}

.slidebar-item {
    font-size: 1.2rem;
    transition: all .3s ease;
    color: #6a6a6a;
}

.slidebar-item:hover {
    color: var(--primary-color);
    transition: all .3s ease;

}

.slidebar-name {
    margin-left: 5px;
}

.content {
    flex: 1;
    padding: 0 10px;
}

.content-title {
    margin-top: 15px;
    color: #373737;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    font-size: 1.2rem;
}

.email {
    margin-bottom: 15px;
}

.email span {
    display: inline-block;
    width: 100px;
}

.input {
    padding: 6px 12px;
    width: 275px;
    outline: none;
    min-height: 35px ;
}

.password {
    margin-bottom: 15px;
}

.password span {
    display: inline-block;
    width: 100px;
}

.submit {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 25px;
}

.btn {
    background-color: var(--primary-color);
    padding: 7px 20px;
    color: var(--white);
    border-radius: 3px;
    transition: all .3s ease-in-out;
    font-size: 1.2rem;
    border: none;
    min-height: 30px;
}

.btn:hover {
    cursor: pointer;
    background-color: red;
    transition: all .3s ease-in-out;
}

.forgot-password {
    display: inline-block;
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.forgot-password:hover {
    cursor: pointer;
    color: red;
    transition: all .3s ease-in-out;
}